#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#formTitle{
    background-color: var(--form-border-color);
    padding: 8px;
    text-transform: uppercase;
    color: var(--form-title-color)
}

#subscribe {
    border: 2px solid var(--form-border-color);
    margin: 32px;
}

#subscribe label {
    color: var(--label-text-color);
    font-size: 1.1em;
}

#inputsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#leftPart, #rightPart {
    width: 350px;
    margin: 32px 32px 0 32px;
}

.labelInputDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.labelInputDiv input {
    background-color: var(--input-backgound-color);
    color: var(--input-text-color);
    border-width: 0 0 1px 0;
    padding: 5px;
}

.error {
    color: var(--error-text-color);
    text-align: right;
    font-size: 0.8em;
    margin-top: 8px;
    margin-bottom: 16px;
}

#genericErrorDiv {
    color: var(--error-text-color);
    text-align: center;
    text-transform: uppercase;
    margin: 0px 32px 32px 32px;
}

#buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 32px 32px 32px;
}

#buttonsDiv input {
    padding: 8px;
}

#confirm {
    background-color: var(--confirm-button-background-color);
    border: 2px solid var(--confirm-button-border-color);
}

#cancel {
    background-color: var(--cancel-button-background-color);
    border: 2px solid var(--cancel-button-border-color);
}
