@media (max-width: 800px ) {
	#content {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
		flex-wrap: nowrap;
		overflow-y: hidden;
	}

	#searchOptionsDiv {
		border-bottom-color: var(--form-border-color);
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}

	#searchOptions {
		display: flex;
		flex-direction: row;
	}

	#topPart {
		margin: 32px 16px 8px 32px;
	}

	#bottomPart {
		margin: 32px 32px 0 16px;
	}
}

@media (min-width: 800px ) {
	#content {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		flex-wrap: nowrap;
		overflow-y: hidden;
	}

	#searchOptionsDiv {
		flex-grow: 0;
		border-right-color: var(--form-border-color);
		border-right-style: solid;
		border-right-width: 2px;
	}

	#searchOptions {
		display: flex;
		flex-direction: column;
	}

	#topPart {
		margin: 32px 32px 0 32px;
	}

	#bottomPart {
		margin: 0 32px 16px 32px;
	}
}

/***********************/
/* Search options form */
/***********************/

#topPart, #bottomPart {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
}

.labelInputDiv {
	margin-bottom: 8px;
}

fieldset {
	margin-bottom: 24px;
}

.labelInputDiv label[class="labelDisable"] {
	color: var(--label-disable-text-color);
}

.labelInputDiv label[class="leftLabel"] {
	margin-right: 16px;
}
