#content {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
}

#searchOptionsDiv {
	flex-grow: 0;
	padding: 32px;
	border-right-color: var(--form-border-color);
	border-right-style: solid;
	border-right-width: 2px;
}

#itemsViewDiv {
	flex-grow: 1;
}

.labelInputDiv {
	margin-bottom: 8px;
}

fieldset {
	margin-bottom: 24px;
}

.labelInputDiv label[class="labelDisable"] {
	color: var(--label-disable-text-color);
}

.labelInputDiv label[class="leftLabel"] {
	margin-right: 16px;
}